* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  ul {
    list-style-type: none;
  }
  fieldset,
  input,
  select,
  textarea,
  button {
    border: none;
  }
}

@font-face {
  font-family: nino;
  src: url(./fonts/bpg_nino_mtavruli_bold.ttf);
}

body {
  width: 100%;
  background-image: url(./photo/565108984_1255274703294454_2974741819067641866_n.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
.top_size {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.logo_bar {
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  gap: 20px;
}
.nav_bar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.title {
  font-weight: 700;
  font-size: 32px;
  font-family: nino;
  text-shadow: 2px 2px 4px white;
  color: rgb(59, 55, 55);
}
.home_bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  gap: 40px;
}
.nav_text {
  font-weight: 500;
  font-size: 18px;
  font-family: nino;
}

.search_bar {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.or {
  width: 30px;
  height: 30px;
}
.btn {
  width: 150px;
  height: 40px;

  background-color: rgba(223, 70, 15, 0.133);
  border-radius: 16px;
  cursor: pointer;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.flag_container {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 1px dashed black;
  .eng {
    width: 35px;
    height: 30px;
  }
  .flag {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.search_btn {
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_area {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(223, 70, 15, 0.133);
  border-radius: 16px;
  cursor: pointer;

  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  .regst {
    font-family: nino;
    font-weight: 300;
    font-size: 12px;
    color: rgb(59, 55, 55);
  }
  .search {
    width: 20px;
    height: 20px;
  }
}

.top_middle {
  width: 100%;
  height: 100px;
}
.metre {
  width: 100%;
  height: 40px;

  display: flex;
  .space {
    width: 10%;
    height: 40px;
    display: flex;
  }
  .numb {
    width: 10%;
    height: 40px;
  }
}
.main_conteiner {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.left_box,
.middle_box,
.right_box {
  width: 30%;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding-inline: 50px;
  padding-block: 20px;

  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid rgba(128, 128, 128, 0.558);
  background-color: rgba(104, 99, 99, 0.501);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
